NODE_ENV=development
SERVICE=gateway-service
PORT=4000
COOKIE_SECRET=replace-with-at-least-32-random-bytes

KC_URL=http://localhost:18080/auth
KC_REALM=omnixys
KC_CLIENT_ID=nexys
KC_CLIENT_SECRET=replace-me

VALKEY_URL=valkey://localhost:6380
VALKEY_PASSWORD=replace-me
KAFKA_BROKER=localhost:9092
TEMPO_URI=http://localhost:4318/v1/traces

AUTHENTICATION_URI=http://localhost:7501/graphql
USER_URI=http://localhost:7301/graphql
EVENT_URI=http://localhost:7201/graphql
INVITATION_URI=http://localhost:7401/graphql
TICKET_URI=http://localhost:7601/graphql
SEAT_URI=http://localhost:7701/graphql
NOTIFICATION_URI=http://localhost:7801/graphql
ADDRESS_URI=http://localhost:7901/graphql
LOGSTREAM_URI=http://localhost:7101/graphql

KEYCLOAK_HEALTH_URL=
TEMPO_HEALTH_URL=
PROMETHEUS_HEALTH_URL=
LOG_LEVEL=info
LOG_PRETTY=true
